/* Base styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

header ul li {
    display: inline;
    margin: 0 15px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header .logo {
    font-size: 30px;
    color: #f4f4f4;
    margin-right: 20px;
}

/* Main content styling */
main {
    display: flex;
    flex-direction: row;
    flex: auto;
    padding: 20px;
}

article {
    flex: 2;
    overflow-y: auto;
    margin-right: 20px;
}

aside {
    flex: 1;
    overflow-y: auto;
}

/* Footer styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }

    header ul li {
        display: block;
        margin-bottom: 10px;
    }

    header .logo {
        font-size: 40px;
    }
}

